<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            ZeexAI
        {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
    {% block style %}
        
    {% endblock %}
</head>
<body>
    
    {% include 'navbar.html'   %}
    
    
    <br>
    <br>
    {% block content %}
    {% include 'messages.html' %}

    {% endblock %}

    {% include 'footer.html' %}
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    {% block script %} 
        
    {% endblock %}
    
</body>
</html>